.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

.search-item-year {
  position: absolute;
  color: #999;
  right: 16px;
}

.search-item-avatar {
  margin-right: 5px;
}
